
<%= form_for @bucketlist do |f| %>
<div class="container">

<div class="white-text">
  <h3><%= f.label :title %></h3>
  <h3><%= f.text_field :title %></h3>
</div>

<div class="black-text"><%= f.submit %></div>

</div>
<% end %>
